<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <title>Oversize</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--PG크로스브라우징필수내용 시작-->
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/oversize.css">
    <% include ./header.ejs/%>
</head>

<body style="padding-top: 50px;">
    <div id="wrapper">
        <div id="contentliquid">
            <div id="content">
                <div class="mainlogo" style="display: table; margin-left: auto; margin-right: auto; padding-bottom: 50px; padding-top: 20px; border-bottom: 1px solid #bcbcbc;">
                    <div class="item" align="center">
                        <a href="/mainweb/main"><img src="/images/main_1.png" style="max-width: 70%; height: auto;"></img></a>
                    </div>
                </div>
                <div class="item">
    
    <h2 style="text-align: center; margin-bottom: 20px;">Join</h2>
    
    <form action="/mainweb/joinForm" method="post" class="form-horizontal" role="form" onsubmit="return onWriteSubmit()">
        <table border="10">
            <div class="form-group">
                <label class="control-label col-sm-2" for="id">ID</label>
                <div class = "col-sm-5">
                    <input type="text" name="id" class="form-control" placeholder="ID" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="passwd">Password</label>
                <div class = "col-sm-5">
                    <input type="password" name="passwd" class="form-control" placeholder="Password" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name</label>
                <div class=" col-sm-5">
                    <input type="text" name="name" class="form-control" placeholder="Name" required/>
                </div>
            </div>
            <div class="form-group">
                <label class = "control-label col-sm-2" for="email">Email</label>
                <div class = "col-sm-4">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="gender">성별</label>
                <div class = "col-sm-4">
                <select name = "gender">
                    <option value="">선택</option>
                    <option value="남">남</option>
                    <option value="여">여</option>
                </select>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-sm-2" for="phone">Phone number</label>
                <div class = "col-sm-4">
                    <input type="text" name="phone" class="form-control" placeholder="Phone number" required/>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-sm-2" for="address">Address</label>
                <div class = "col-sm-4">
                    <input type="text" name="address" class="form-control" placeholder="Address" required/>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-sm-2" for="birth">Birthday</label>
                <div class = "col-sm-4">
                    <input type="date" min = "1950-01-01" max="2015-12-31" name="birth" class="form-control" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="identity">구분</label>
                <div class = "col-sm-4">
                    <select name = "identity">
                        <option value="">선택</option>
                        <option value="판매자">판매자</option>
                        <option value="구매자">구매자</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button type="reset" class="btn btn-default"><a href = "/mainweb/main">Cancel</a></button>
                </div>
            </div>
        </table>
    </form>
</div>

                
            </div>
            <div id="footer">
                <% include ./footer.ejs /%>
            </div>
        </div>
        <div id="leftcolumn">
            <% include ./left_menu.ejs /%>
        </div>
        <div id="rightcolumn" style="padding-top: 20px">
            <% include ./right_menu.ejs /%>
        </div>
    </div>
<script>
    function onWriteSubmit()
    {
        if ( $("#id").val().trim() == "" )
        {
            var message = "아이디를 입력해 주세요";
            $("#id").val("");
            $("#id").focus();
            alert(message);
            return false;
        }

        if ( $("#passwd").val().trim() == "" )
        {
            var message = "비밀번호를 입력해 주세요";
            $("#passwd").val("");
            $("#passwd").focus();
            alert(message);
            return false;
        }

        if ( $("#name").val().trim() == "" )
        {
            var message = "이름을 입력해 주세요";
            $("#name").val("");
            $("#name").focus();
            alert(message);
            return false;
        }

        if ( $("#gender").val().trim() == "" )
        {
            var message = "성별을 입력해 주세요";
            $("#gender").val("");
            $("#gender").focus();
            alert(message);
            return false;
        }

        if ( $("#phone").val().trim() == "" )
        {
            var message = "전화번호를 입력해 주세요";
            $("#phone").val("");
            $("#phone").focus();
            alert(message);
            return false;
        }

        if ( $("#address").val().trim() == "" )
        {
            var message = "주소를 입력해 주세요";
            $("#address").val("");
            $("#address").focus();
            alert(message);
            return false;
        }

        if ( $("#birth").val().trim() == "" )
        {
            var message = "생년월일을 입력해 주세요";
            $("#birth").val("");
            $("#birth").focus();
            alert(message);
            return false;
        }

        if ( $("#identity").val().trim() == "" )
        {
            var message = "권한을 입력해 주세요";
            $("#identity").val("");
            $("#identity").focus();
            alert(message);
            return false;
        }
    }
</script>
</body>
</html>