<div id="left_menu" style="padding-bottom: 30px; padding-top: 20px">        		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Party"><img src="/images/button3.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Wedding"><img src="/images/button4.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Dress"><img src="/images/button5.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Top"><img src="/images/button6.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Bottom"><img src="/images/button7.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Outer"><img src="/images/button8.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Summer"><img src="/images/button9.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=Underwear"><img src="/images/button10.jpg"></img></a></li>
           		
              <li style="list-style: none; padding-left: 15px; padding-bottom: 5px;"><a href="/mainweb/item_list?category1=BagNShoes"><img src="/images/button11.jpg"></img></a></li>
           	</div>