
<div class="col">
	<div id="quick-menu" style="padding: 10px">
		<% if(!isAuthenticated) {%>
		<a href="/mainweb/login"><button class="button quick-button">NOTICE</button></a>
		<a href="/mainweb/login"><button class="button quick-button">QnA</button></a>
		<%} else{%>
		<a href="/mainweb/info_board"><button class="button quick-button">NOTICE</button></a>
		<a href="/mainweb/qna_board"><button class="button quick-button">QnA</button></a>
		<%}%>
		<a href="/mainweb/admin_board"><button class="button quick-button">ADMIN</button></a>
		<a href="/mainweb/sell_board"><button class="button quick-button">SELL</button></a>
		<a href=https://www.facebook.com/donghyunii>
		<button class="button quick-button">FACEBOOK</button></a>
		<a href=https://twitter.com/kangsm91>
		<button class="button quick-button">TWITTER</button>
		</a>
	</div>
	<div id = "right_menu2" style="border-top: 1px solid #bcbcbc">
	
	</div>
</div>